/* Polices */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300|Bangers);

/* Commun */
html,
body {
	height: 100%;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	text-align: center;
	color: #444;
}
h1,
h2,
h3,
p {
	margin: 20px auto;
}
h1,
h2,
h3 {
	font-family: "Bangers", sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}
a {
	text-decoration: none;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s;
}
img,
img:hover,
input[type=image],
input[type=image]:hover {
	max-width: 100%;
	-webkit-transition: transform .5s;
	-moz-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}
img:hover,
input[type=image]:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

/* Couverture */
#cover {
	background: #0F2741 url(image/background.jpg) top center no-repeat;
	background-size: cover;
	color: #FFF;
	height: 100%;
	width: 100%;
	position: fixed;
	display: table;
}
#cover .inner {
	display: table-cell;
	vertical-align: middle;
}
#cover p,
#cover .zwiico-mimi {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
}
#cover .speech {
	text-align: center;
}
#cover .speechMimi {
	font-size: 5em;
	vertical-align: bottom;
	display: inline-block;
	margin-right: 5px;
}
#cover .speechBubble {
	display: inline-block;
	padding: 10px 20px;
	position: relative;
	margin: 15px auto;
	text-align: left;
	background-color: rgba(0, 0, 0, .4);
	vertical-align: top;
	transform: rotate(-5deg);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
	font-size: 3em;
	letter-spacing: 1px;
	color: #FFF;
}
#cover .speechBubble:before {
	content: " ";
	position: absolute;
	top: 100%;
	margin-top: 3px;
	bottom: -32px;
	border: 26px solid;
	border-color: transparent rgba(0, 0, 0, .4) transparent transparent;
	transform: rotate(-90deg);
}
}
#cover p {
	max-width: 700px;
	font-weight: 300;
	margin: 40px;
        margin-top: 80px;
	padding: 0 5px;
}
#cover #get a {
	background-color: rgba(255, 255, 255, .2);
	color: #FFF;
	padding: 10px 0;
	margin: 10px;
	display: block;
	min-width: 150px;
}
#cover #get a:hover {
	background-color: rgba(255, 255, 255, .4);
	text-decoration: none;
}
#cover #get a#downloadStable {
	background-color: rgba(46, 204, 113, .6);
}
#cover #get a#downloadStable:hover {
	background-color: rgba(46, 204, 113, .8);
}
#cover #get a#downloadBeta {
	background-color: rgba(46, 204, 255, .6);
}
#cover #get a#downloadBeta:hover {
	background-color: rgba(46, 204, 255, .8);
}
#cover #social {
	margin-top: 30px;
}
#cover #social a {
	display: inline-block;
	margin: 0 10px;
}
#cover #go {
	display: none;
}
@media (min-width: 768px) {
	#cover .speechMimi {
		font-size: 6em;
	}
	#cover .speechBubble {
		font-size: 4em;
		padding: 10px 40px;
	}
	#cover p {
		font-size: 1.3em;
                margin-right: 40px;
                margin-left: 40px;
                margin-top: 80px;
                margin-bottom: 31px;
	}
	#cover #get a {
		padding: 15px;
		margin: 10px 5px;
		display: inline-block;
                border-radius: 15px;
	}
	#cover #social a {
		margin: 0 10px;
	}
	#cover #go {
		display: block;
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -16px;
		opacity: .4;
	}
}

/* Contenu */
#container {
	width: 100%;
	top: 100%;
	position: absolute;
	z-index: 5;
	box-shadow: 0 0 15px rgba(0, 0, 0, .6);
	background: #FFF;
	text-align: center;
	padding-top: 40px;
}
#container .inner {
	max-width: 1100px;
	margin: auto;
}
#container h1,
#container h3 {
	margin: 20px auto 30px auto;
}
#container h3 {
	padding: 0 5px;
}
#container a {
	color: inherit;
	text-decoration: underline;
}
#container a:hover {
	text-decoration: none;
}
#container form {
	padding-bottom: 10px;
}
@media (min-width: 768px) {
	#container h2 {
		font-size: 1.5em;
	}
}

/* Bas de page */
#footer {
	background: #0F2741 url(image/background.jpg) bottom center no-repeat;
	background-size: cover;
	text-align: center;
	margin-top: 40px;
	padding: 30px 10px;
	color: #FFF;
}
#footer .zwiico-heart {
	color: #CF000F;
}
#footer a {
	color: #FFF;
	text-decoration: underline;
}
#footer a:hover {
	text-decoration: none;
}

/* Grille */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row:before,
.row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}
[class*='col-'] {
	float: left;
	position: relative;
	min-height: 1px;
	padding: 20px 10px;
	width: 100%;
}
[class*='col-'] > *:first-child {
	margin-top: 0;
}
[class*='col-'] > *:last-child {
	margin-bottom: 0;
}
@media (min-width: 992px) {
	.col-1 {
		width: 8.33333333%;
	}
	.col-2 {
		width: 16.66666667%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33333333%;
	}
	.col-5 {
		width: 41.66666667%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33333333%;
	}
	.col-8 {
		width: 66.66666667%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33333333%;
	}
	.col-11 {
		width: 91.66666667%;
	}
	.col-12 {
		width: 100%;
	}
	.offset-1 {
		margin-left: 8.33333333%;
	}
	.offset-2 {
		margin-left: 16.66666667%;
	}
	.offset-3 {
		margin-left: 25%;
	}
	.offset-4 {
		margin-left: 33.33333333%;
	}
	.offset-5 {
		margin-left: 41.66666667%;
	}
	.offset-6 {
		margin-left: 50%;
	}
	.offset-7 {
		margin-left: 58.33333333%;
	}
	.offset-8 {
		margin-left: 66.66666667%;
	}
	.offset-9 {
		margin-left: 75%;
	}
	.offset-10 {
		margin-left: 83.33333333%;
	}
	.offset-11 {
		margin-left: 91.66666667%;
	}
}
